{{#partial "cliente"}}
    
	<div style="margin-top: 1%" class="container">
		<ul class="nav nav-tabs" id="myTab" role="tablist">
			<li class="nav-item">
				<a class="nav-link active" id="perfil-tab" href={{#if esAdministrador}} /clientes/{{idCliente}}/perfil {{else}} /perfil {{/if}} role="tab" aria-selected="true">Perfil</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" id="consumos-tab" href={{#if esAdministrador}} /clientes/{{idCliente}}/consumos {{else}} /consumos {{/if}} role="tab" aria-selected="false">Consumos</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" id="dispositivos-tab" href={{#if esAdministrador}} /clientes/{{idCliente}}/dispositivos {{else}} /dispositivos {{/if}} role="tab" aria-selected="false">Dispositivos</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" id="recomendaciones-tab"  href={{#if esAdministrador}} /clientes/{{idCliente}}/recomendaciones {{else}} /recomendaciones {{/if}} aria-selected="false">Recomendaciones</a>
			</li>
		</ul>
	</div>
	
	{{#block "contenido-cliente"}}
	{{/block}}

{{/partial}}
{{>layouts/auxiliares/layoutAuxiliarCliente.hbs}}