 {{#partial "contenido-cliente"}}

<div class="container">
    <h4 style="padding-bottom: 15px; display:block">{{idCliente}} - {{nombreCliente}}</h4>
    <div style="display: flex; justify-content: space-between; margin-bottom: 10px" class="col-xs-12">
        <div style="display:inline-block; align-content:center">
            <form>
                <label style="display:block">Consultar consumo para el mes:</label>
                <input type="month" name="periodo" value={{periodo}} required />
                <button class="btn btn-info btn-sm" style="margin-bottom:5px"> Consultar </button>
            </form>
        </div>

        <div class="alert alert-info" role="alert" style="width:30%; text-align: center; height: 5%; margin-right: 40%; margin-top: 15px">
            <label style="font-size:13px">Su consumo fue de: {{consumoDelPeriodo}} KWh</label>
        </div>
    </div>

    {{#each trimestres}}
    <div>
        <div class="card" style="width:60%">
            <div class="card-header" id="headingOne" style="cursor:pointer; display: flex; justify-content: space-between;"
                data-toggle="collapse" data-target="#detalleTrimestre{{@index}}">
                <h5 class="mb-0">
                    {{anio}} - Trimestre Nro {{@index}}
                </h5>
                <div style="padding-right: 5px">
                        <label>{{consumo}} KWh</label>
                        <span class="btn btn-link">
                                <a class="fa fa-angle-double-down"></a>
                        </span>
                    </div>
            </div>

            <div id="#detalleTrimestre{{@index}}" class="collapse" aria-labelledby="headingOne">
                <div class="card-body">
                    {{#each meses}}
                    <div style="border: 1px solid; border-radius: 4px; margin-bottom: 3px">
                        <label>{{mes}} {{consumo}} KWh </label>
                        <span style="float:right">
                            <a class="badge badge-primary" href="/dispositivos?periodo={{periodo}}" style="margin-top:7px; margin-right:5px;">
                                Ver detalle
                            </a>
                        </span>
                    </div>
                    {{/each}}
                </div>
            </div>
        </div>
    </div>
    {{/each}}
</div>

{{/partial}} 
{{>layouts/layoutCliente.hbs}}