{{#partial "contenido-cliente"}}

<div class="container" style="overflow-y:auto; height:80%;">
    
    <p><h4 style="padding-bottom: 15px; display:block">{{idCliente}} - {{nombreCliente}}</h4></p>
    
        <div class="float-right">
            <a href="{{url_formulario_dispositivoNuevo}}" class="btn btn-info btn-sm" style="margin-bottom:10px; ">Agregar Dispositivo</a>
        </div>
        <div>
            <form>
                <label style="display:block">Consultar consumo para el mes:</label>
                <input type="month" name="periodo" value={{periodo}} required />
                <button class="btn btn-info btn-sm" style="margin-bottom:5px"> Consultar </button>
            </form>
        </div>

		{{#if dispositivos}}
        <table style="width:100%" class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Nombre generico</th>
                    <th scope="col">Estado actual</th>
                    <th scope="col">Horas de uso</th>
                    <th scope="col">Consumo por hora</th>
                    <th scope="col">Consumo</th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                {{#each dispositivos}}
                <tr>
                    <td>{{id}}</td>
                    <td>{{nombreGenerico}}</td>
                    {{#with dispositivo}}
                    	{{#if estadoActual}}
                    		<td>{{estadoActual}}</td>
                    	{{else}}
                    		<td>No aplica</td>
                    	{{/if}}
                    {{/with}}
                    <td>{{horasDeUso}}</td>
                    <td>{{consumoPorHora}}</td>
                    <td>{{consumo}}</td>
                    <td>
                        <a href="Editar Dispositivos">
                            <span class="fas fa-pencil-alt"></span>
                        </a>
                    </td>
                    <td>
                        <a href="Borrar dispositivo">
                            <span class="fa fa-trash"></span>
                        </a>
                    </td>
                </tr>
                {{/each}}
            </tbody>
        </table>
        <div class="float-right">
            <label>
                Total de consumo: {{consumoTotal}} KWh
            </label>
        </div>
       	{{else}}
	    	<div class="alert alert-info" role="alert" style="width:100%">
	        	<span>No se encuentran dispositivos</span>
	    	</div>
	    {{/if}}
    
</div>
<script>
    $(document).ready(function () {
        $('#dispositivos-tab').tab('show');
    });
</script>

{{/partial}}
{{>layouts/layoutCliente.hbs}}