{{#partial "contenido-cliente"}}

<link href="slider.css" rel="stylesheet">

<div class="container">
    <div class="form-row">
        <div class="form-group col-md-6">
            <div class="card">
                <div class="card-header" id="datosGenerales">
                    <h5 class="mb-0">Datos Generales</h5>
                </div>
                <div id="cuerpoDatosGenerales" aria-labelledby="datosGenerales" style="height:40%">
                    <div class="card-body ">
                        <div class="container">
                            {{#with cliente}}
                                <div style="margin-bottom: 5%">
                                    <label>Número de cliente: {{idCliente}} </label>
                                </div>
                                <div style="margin-bottom: 5%">
                                    <label>Nombre Completo: {{nombreCliente}} </label>
                                </div>
                                <div style="margin-bottom: 5%">
                                    <label>Domicilio: {{domicilio}} </label>
                                </div>
                                <div style="margin-bottom: 5%">
                                    <label>Categoría: {{categoria}} </label>
                                </div>
                            {{/with}}
                                <div style="margin-bottom: 5%">
                                    <label>Transformador asociado: {{transformador}} </label>
                                </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group col-md-6">
            <div class="card">
                <div class="card-header" id="estadoHogar">
                    <h5 class="mb-0">
                        Estado del Hogar
                    </h5>
                </div>
                <div id="cuerpoEstadoHogar" aria-labelledby="estadoHogar">
                    <div class="card-body" style="height:40%;">
                        <div class="container">
                            <div style="margin-bottom: 5%">
                                <label>Cantidad de Dispositivos: {{cantidadDispositivos}} </label>
                                <div style="margin-left: 15%">
                                    <li>Estandar: {{cantidadEstandar}}</li>
                                    <li>Inteligentes: {{cantidadInteligentes}}</li>
                                </div>
                            </div>
                            <div style="margin-bottom: 5%">
                                <label>Cantidad de dispositivos inteligentes encendidos: {{cantidadEncendidos}} </label>
                            </div>
                            <div style="margin-bottom: 5%">
                                <label>Cantidad de dispositivos inteligentes apagados: {{cantidadApagados}} </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="form-row">
        <h5 style="margin-left:1%">Apagado automático activado: </h5>
        <form action="/apagadoAutomatico" method="post">
            <label class="switch" style="margin-left: 10%">
                <input type="checkbox" onClick="this.form.submit()" {{#if apagadoAutomaticoActivado}} checked {{/if}}/>
                <div class="slider round"></div>
            </label>
        </form>
    </div>
</div>

{{/partial}}
{{>layouts/layoutCliente.hbs}}