{{#partial "contenido-cliente"}}

<div class="container" style="overflow-y:auto; height:80%">

    <h4 style="padding-bottom: 15px; display:block">{{idCliente}} - {{nombreCliente}}</h4>

    <div style="display:inline-block; align-content:center">
        <form>
            <label style="display:block">Mes a recomendar</label>
            <input type="month" name="periodo" value={{periodo}} required />
            <button class="btn btn-info btn-sm" style="margin-bottom:5px">Recomendar</button>
        </form>
    </div>
    <div>
        <table style="width:100%" class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Nombre Generico</th>
                    <th scope="col">Horas optimas</th>
                    <th scope="col">Horas usadas</th>
                    <th scope="col">Horas restantes</th>
                </tr>
            </thead>
            <tbody>
                {{#each recomendaciones}}
                <tr>
                    <td>{{id}}</td>
                    <td>{{nombreGenerico}}</td>
                    <td>{{horasDeUsoRecomendadas}}</td>
                    <td>{{horasDeUso}}</td>
                    <td>{{horasDeUsoRestantes}}</td>
                </tr>
                {{/each}}
            </tbody>
        </table>
        {{#if fueEficiente}}
        <div class="alert alert-success" role="alert" style="width:40%">
            <span>Su consumo: {{consumoTotal}} fue eficiente!</span>
        </div>
        {{else}}
        <div class="alert alert-danger" role="alert" style="width:40%">
            <span>Su consumo: {{consumoTotal}} no fue eficiente</span>
        </div>
        {{/if}}
    </div>
</div>
<script>
    $(document).ready(function () {
        $('#recomendaciones-tab').tab('show');
    });
</script>
{{/partial}}
{{>layouts/layoutCliente.hbs}}